<mat-toolbar>
  <!-- <span>{{groupForm.controls['$key'].value?"Modify Account":"New Account"}}</span> -->
  <span class="fill-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>




<div class="spacing">

  <form  [formGroup]="countForm" (ngSubmit)= "onSubmit()">

    <!-- <mat-form-field appearance="fill">
      <mat-label>Offers</mat-label>
      <mat-select formControlName="offreName" multiple>
        <mat-option *ngFor="let off of offres" [value]='off.offreName' >{{off.offreName}}</mat-option>
      </mat-select>
    </mat-form-field> -->

      <div class="row row-space">
        <div class="col-md-5 controles-container">
            <div class="input-group ">
                <label class="label">Nom Et Prenom*</label>
                <input formControlName="prospectName" class="input--style-4" type="email" name="email">
            </div>
        </div>
          <div class="col-md-6 controles-container">
              <div class="input-group ">
                  <label class="label">CIN*</label>
                  <input formControlName="cin" class="input--style-4" type="text" name="cin">
              </div>
          </div>
    </div>

    <div class="row row-space">
      <div class="col-md-5 controles-container">
        <mat-form-field appearance="fill">
          <mat-label>Date De Naissance</mat-label>
          <input formControlName= "birthDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="col-md-6 controles-container">
        <mat-form-field appearance="fill">
          <mat-label>Selectionner</mat-label>
          <mat-select formControlName="offreName" multiple>
            <mat-option *ngFor="let off of offres" [value]='off.offreName' >{{off.offreName}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row row-space">
      <div class="col-md-5 controles-container">
            <div class="input-group ">
                <label class="label">Telephone*</label>
                <input formControlName= "phoneNumber" class="input--style-4 cursor" type="text" name="tel">
            </div>
        </div>
        <div class="col-md-6 controles-container">
          <div class="input-group ">
              <label class="label">Address*</label>
              <input formControlName= "address" class="input--style-4" type="text">
          </div>
      </div>
    </div>
    <label class="label" >Photo*</label>
    <div class="row row-space ">
        <div class="input-group js-input-file ">
            <input formControlName= "photo" class="input-file" type="file" name="file_cv" id="file" (change)="detectFiles($event)" accept="image/*">
            <label class="label--file " for="file">Choose file</label>
            <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
        </div>
    </div>
    <div class="button-row row">
      <div class="col-lg-10">
        <button mat-raised-button color="primary" type="submit" >Submit</button>
        <button mat-raised-button color ="warn" (click)="onClear()">Clear</button>
      </div>
    </div>
  </form>
</div>

