<mat-toolbar>
  <span>{{groupForm.controls['$key'].value?"Modify Account":"New Account"}}</span>
  <span class="fill-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabindex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="countForm" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">
        <mat-form-field>
          <input matInput formControlName="prospectName" placeholder="Nom Et Prenom*">
          <mat-error>Ce champ est obligatoire</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="phoneNumber" placeholder="Mobile*">
          <!-- <mat-error *ngIf="countForm.controls['phoneNumber'].errors?.minlength">Minimum 8 chiffres demandé</mat-error>
          <mat-error *ngIf="countForm.controls['phoneNumber'].errors?.required">Ce champ est obligatoires</mat-error> -->
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="cin" placeholder="CIN*">
        </mat-form-field>

      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
          <mat-radio-group formControlName="categorieName">
            <mat-radio-button  class="spacing"  *ngFor="let cat of categories" [value]="cat.categorieName">{{cat.categorieName}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field appearance="fill">
          <mat-label>Offers</mat-label>
          <mat-select formControlName="offreName" multiple>
            <mat-option *ngFor="let off of offres" [value]='off.offreName' >{{off.offreName}}</mat-option>
          </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Date De Naissance</mat-label>
          <input formControlName="birthDate" matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" >Submit</button>
          <button mat-raised-button color ="warn" (click)="onClear()">Clear</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
