<!-- <div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Créer un compte</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="userName">Nom Et Prenom</label>
        <input type="text"
               id="User"
               class="form-control"
               formControlName="userName">
      </div>

      <div class="form-group">
        <label for="email">E-mail Adresse </label>
        <input type="text"
               id="email"
               class="form-control"
               formControlName="email">
      </div>

      <div class="form-group">
        <label for="password">Mot de passe</label>
        <input type="password"
               id="password"
               class="form-control"
               formControlName="password">
      </div>

      <button class="btn btn-primary"
              type="submit"
              >Créer mon compte</button>
    </form>
    <p class="text-danger">{{ errorMessage }}</p>
  </div>
</div> -->


<div class="main">

  <section class="signup">
      <!-- <img src="images/signup-bg.jpg" alt=""> -->
      <div class="container">
          <div class="signup-content" id="opacity">
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" method="POST" id="signup-form" class="signup-form">
                  <h2 class="form-title">Créer Un Compte  </h2>
                  <div class="form-group">
                    <label class="col-md-4"> <b>Nom Et Prenom</b> </label>
                    <input formControlName="userName" type="text" class="form-input col-md-10" name="name" id="name" />
                  </div>
                  <div class="form-group">
                    <label class="col-md-4"> <b> E-mail </b> </label>
                      <input formControlName="email" type="email" class="form-input col-md-10" name="email" id="email" />
                  </div>
                  <div class="form-group">
                    <label class="col-md-4"><b>Mot De Passe</b>
                    </label>
                      <input formControlName="password" type="text" class="form-input col-md-10" name="password" id="password" />
                      <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                  </div>
                  <div class="form-groupe">
                    <div class="value">
                      <div class="input-group js-input-file">
                          <label class="col-md-3"><b>Photo</b> </label>
                          <input class="input-file" type="file" name="file_cv" id="file" (change)="detectFiles($event)" accept="image/*">
                          <label class="label--file" for="file">Choose file</label>
                          <p class="text-success" *ngIf="fileUploaded">Fichier chargé !</p>
                      </div>
                  </div>

                  </div>
                  <div class="form-group">
                  </div>
                  <div class="form-group">
                      <input [disabled]="signupForm.invalid && !fileUploaded" type="submit" name="submit" id="submit" class="form-submit" value="Sign up"/>
                  </div>
              </form>
              <p class="loginhere">
                  Avez-vous dejaun compte ? <a href="#" class="loginhere-link">S'authentifier</a>
              </p>
          </div>
      </div>
  </section>

</div>
<script src="../../../assets/jquery/jquery.min.js"></script>
<script src="../../../assets/js/main.js"></script>
