<section id="carousel_4af9">
  <div class="u-clearfix u-sheet u-sheet-1">
    <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
      <div class="u-layout">
        <div class="u-layout-row">
          <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-1">
            <div class="u-container-layout u-valign-middle u-container-layout-1">
              <h2 class="u-custom-font u-text u-text-2">{{offre.offreName}}</h2>
              <p class="u-text u-text-3">{{offre.description}}</p>
            </div>
          </div>
          <div class="u-align-center u-container-style u-expand-resize u-layout-cell u-left-cell u-shape-rectangle u-size-30 u-layout-cell-2">
            <div class="u-container-layout u-valign-middle u-container-layout-2">
              <img *ngIf="offre.photo" class="Image" [src]="offre.photo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
