<br><br>
  <div class="search-div">
    <button mat-raised-button (click)= "onCreate()">
      <mat-icon>add</mat-icon>Ajouter un nouveau prospect
    </button>
  </div>

<!-- <div class="mat-elevation-z8 position">
  <mat-table [dataSource]="listData" matSort>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom Et Prenom</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element?.userName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>CIN</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element?.CIN}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Telephone</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element?.phoneNumber}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date De Naissance</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element?.birthDate | date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef = "loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>

    <ng-container matColumnDef="offreName">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Offres</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element?.offreName}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)= "onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button (click)= "onDelete(row.$key)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

</mat-table> -->

<!-- </div> -->
<br><br><br>
<section id="team-page">
  <div class="container">
    <div class="list-team-members">
      <ul>
        <li class="d-flex align-items-center mb-2 ">
          <div class="marge col-lg-2">
            <span class="font-weight-bold">Nom Et Prenom</span>
          </div>
          <div class="marge col-lg-2">
            <span class="font-weight-bold">CIN</span>
          </div>
          <div class="marge col-lg-2">
            <span class="font-weight-bold">Telephone</span>
          </div>
          <div class="marge col-lg-2">
            <span class="font-weight-bold">Date De Naissance</span>
          </div>
          <div class="marge m col-lg-2">
            <span class="font-weight-bold">Offres</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section id="team-page">
  <div class="container">
    <div class="list-team-members">
      <ul>
        <li *ngFor="let prosp of prospects; let i= index"  class="d-flex align-items-center mb-2">
          <div class="cont-user-wrapper col-lg-2">
            <div class="d-flex align-items-center  w-30">
              <div class="user-photo">
                <img  [src]="prosp?.photo" alt="img avatar">
              </div>
              <div class="name ml-2">
                <span class="font-weight-bold">{{prosp?.prospectName}}</span>
              </div>
            </div>
          </div>
          <div class="email col-lg-2">
            <p>{{prosp?.CIN}}</p>
          </div>
          <div class="role text-center col-lg-2">
            <p>{{prosp?.phoneNumber}}</p>
          </div>

          <div class="role text-center col-lg-2">
            <p>{{prosp?.birthDate| date}}</p>
          </div>

          <div class="role text-center col-lg-2">
            <p>{{prosp?.offreName}}</p>
          </div>

          <div class="action col-lg-2 text-center dropdown">
            <a style="color: #888888;" class="dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false"><i class="icon ion-android-settings"
                style="font-size: 30px;color: #888888;"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item"  (click)="onViewProspect(i)">Consulter</a>
              <a class="dropdown-item" *ngIf="prosp.userName === userName" (click)="onUpdateProspect(i)">Modifier</a>
              <a class="dropdown-item" *ngIf="prosp.userName === userName" (click)="onDeleteProspect(prosp)" >Supprimer</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
