
<div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/particulier jeune.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">PARTUCULIER</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/tunisien du monde.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">TUNISIENS DU MONDE</h5>
        <a (click)="onClick()"  class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/clientsPlatine.jpg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">CLIENTS PLATINE</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
          <img class="card-img-top dimension" src="../assets/particulier jeune.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">JEUNE</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/particulier.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">PROFESSIONELS</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/entreprise.jpg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">ENTREPRISE</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
