
<!-- <div class="row">
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/particulier jeune.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">PARTUCULIER</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/tunisien du monde.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">TUNISIENS DU MONDE</h5>
        <a (click)="onClick()"  class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/clientsPlatine.jpg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">CLIENTS PLATINE</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
          <img class="card-img-top dimension" src="../assets/particulier jeune.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">JEUNE</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/particulier.JPG" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">PROFESSIONELS</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <div class="image">
        <img class="card-img-top dimension" src="../assets/entreprise.jpg" alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">ENTREPRISE</h5>
        <a (click)="onClick()" class="btn btn-primary">LISTE DES OFFRES</a>
      </div>
    </div>
  </div>
</div> -->



<!-- ....... -->
<div class="wrapper d-flex align-items-stretch">
  <section class="container pt-3 mb-3">
    <div class="row pt-5 mt-30">
        <div class="col-lg-4 col-sm-6 mb-30 pb-5 ">
            <a class="card " (click)="onClick()">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 110px; height: 110px; margin-top: -30px;">
                  <img class="card-img-top dimension rounded-circle z-depth-2 imageSize" src="../assets/particulier jeune.JPG" alt="100x100" >
                </div>
                <div class="card-body text-center">
                    <h3 class="card-titl pt-1">PARTICULIER</h3>
                    <p class="card-text text-sm textAlligne">Parce que votre vie et celle de votre famille sont jalonnées d’évènements
                      importants, et parce que ce qui est important pour vous est primordial pour nous, nous nous <span id="dots1">...</span><span id="more1">employons tous les
                      jours à répondre à vos différents besoins.
                        Afin de vous accompagneraussi bien dans votre vie quotidienne que dans
                        les moments clés de votre vie, l’UIB vous propose une gamme variée de produits et services en mesure de fournir
                        une réponse concrète à vos attentes.
                        Gérer votre argent, réaliser vos projets, faire fructifier vos économies sont autant de questions pour les quelles.
                        l’UIB vous confie son expérience et son savoir-faire.</span> </p><span id="myBtn1" (click)='suite(1)' class="text-sm text-uppercase font-weight-bold">Suite</span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" (click)="onClick()">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 110px; height: 110px; margin-top: -30px;">
                  <img class="card-img-top dimension rounded-circle z-depth-2 imageSize" src="../assets/tunisien du monde.JPG" alt="100x100" >
                </div>
                <div class="card-body text-center">
                    <h3 class="card-titl pt-1">TUNUSIENS DU MONDE</h3>
                    <p class="card-text text-sm textAlligne">Envie de revenir au pays, lancer un projet,
                      bâtir la maison de vos rêves ou simplement passer sereinement vos vacances en Tunisie…
                      L’UIB vous donne l’opportunité de garder un lien fort avec votre pays grâce à une offre
                      exclusivement conçue pour vous !
                      Certaines voies vous ramèneront toujours vers nous.</p>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" (click)= "onClick()">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 110px; height: 110px; margin-top: -30px;">
                  <img class="card-img-top dimension rounded-circle z-depth-2 imageSize" src="../assets/clientsPlatine.jpg" alt="100x100" >
                </div>
                <div class="card-body text-center">
                    <h3 class="card-titl pt-1">CLIENT PLATINE</h3>
                    <p class="card-text text-sm textAlligne">Conforté par un savoir-faire historique et par l’appui
                      du groupe Société Générale, l’UIB se doit de toujours garder l’excellence au centre de
                      ses préoccupations. Son influence et sa réputation proviennent de la qualité de <span id="dots3">...</span><span id="more3"> ses équipes et
                      du prestige de ses clients.
                      Nos solutions sont formulées pour répondre aussi bien à vos besoins quotidiens que pour vous
                      accompagner dans la réalisation de vos projets.
                        L’UIB vous propose une offre sur mesure en matière de services bancaires, de conseil en investissement,
                        de financement et de gestion patrimoniale et met à votre disposition des espaces de réception raffinés
                        pour vos rencontres avec les conseillers de clientèle dédiés pour une prise en charge totale de vos
                        opérations bancaires.</span></p><span id="myBtn3" (click)='suite(3)' class="text-sm text-uppercase font-weight-bold">Suite<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" (click)="onClick()">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 110px; height: 110px; margin-top: -30px;">
                  <img class="card-img-top dimension rounded-circle z-depth-2 imageSize" src="../assets/particulier jeune.JPG" alt="100x100" >
                </div>
                <div class="card-body text-center">
                    <h3 class="card-titl pt-1">JEUNE</h3>
                    <p class="card-text text-sm textAlligne">
                      <b>Enfance</b><br>
                      Parce que demain se prépare aujourd’hui, c’est dès le plus jeune âge qu’il faut penser
                      à l’avenir de votre enfant. Bâtissons, dès aujourd’hui, un futur meilleur.<span id="dots4">...</span><span id="more4">
                     <br><b>Adolescence</b><br>
                      Votre enfant a passé l’âge de la tirelire, vous souhaitez qu’il apprenne à gérer
                      son budget tout en se faisant plaisir (jeux vidéo, chaussures, vêtements, sorties…) ?
                      Préparons, ensemble, les projets de votre enfant.


                      <b>Etudiants</b><br>
                      Vous commencez à prendre votre envol : premier déménagement, études, permis de
                      conduire…Pour réussir les moments  clé de vos étude
                        supérieures, vous devez pouvoir vous y consacrer pleinement. Nous mettons à votre disposition les meilleures
                        solutions pour vous accompagner tout au long de vos études.


                        <b>Jeunes actifs</b><br>
                        Nouvelle vie, nouvelles envies !! Entrer dans la vie active, c’est profiter d’une indépendance financière
                        mais aussi assumer de nouvelles dépenses : premier emploi, premiers projets, union…Nous vous accompagnons dès
                        aujourd’hui pour vous aider à mieux préparer le lendemain. </span>
                    </p><span id="myBtn4" (click)='suite(4)' class="text-sm text-uppercase font-weight-bold">Suite<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" (click)="onClick()">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 110px; height: 110px; margin-top: -30px;">
                  <img class="card-img-top dimension rounded-circle z-depth-2 imageSize" src="../assets/particulier.JPG" alt="100x100" >
                </div>
                <div class="card-body text-center">
                    <h3 class="card-titl pt-1">PROFESSIONEL</h3>
                    <p class="card-text text-sm textAlligne">Commerçant, agriculteur, médecin, avocat…vous souhaitez
                      concilier votre vie personnelle et vos objectifs professionnels ?
                      L’UIB œuvre continuellement pour vous satisfaire en vous offrant des solutions <span id="dots5">...</span><span id="more5">innovantes pour votre gestion courante, vos financements, vos placements…
                      Construisons ensemble une relation durable</span></p><span id="myBtn5" (click)='suite(5)' class="text-sm text-uppercase font-weight-bold">Suite<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-6 mb-30 pb-5">
            <a class="card" (click)="onClick()">
                <div class="box-shadow bg-white rounded-circle mx-auto text-center" style="width: 110px; height: 110px; margin-top: -30px;">
                  <img class="card-img-top dimension rounded-circle z-depth-2 imageSize" src="../assets/entreprise.jpg" alt="100x100" >
                </div>
                <div class="card-body text-center">
                    <h3 class="card-titl pt-1">ENTREPRISE</h3>
                    <p class="card-text text-sm textAlligne">Grâce aux synergies avec les 37 banques du groupe Société Générale
                      implantées dans 83 pays, l’UIB est votre portail pour l’une des plateformes de produits financiers les plus complètes au monde.<span id="dots6">...</span><span id="more6">

                      Nous offrons des solutions de gestion et de trésorerie, ainsi qu’une gamme complète
                      d’assistance et des stratégies de développement, toutes
                        construites autour de notre ferme engagement de toujours faire passer vos intérêts en premier.
                       Forts de notre engagement historique envers les entreprises, nous mettons notre expertise au service de vos ambitions.</span></p><span id="myBtn6" (click)='suite(6)' class="text-sm text-uppercase font-weight-bold">Suite<i class="fe-icon-arrow-right"></i></span>
                </div>
            </a>
        </div>
    </div>
  </section>
</div>
<script src="../../assets/main.js"></script>
<script src="../../assets/jquery.min.js"></script>
<script src="../../assets/popper.js"></script>
<script src="../../assets/bootstrap.min.js"></script>

